/*
* @Author: Xun.Fu
* @Date:   2017-09-06 11:27:39
* @Last Modified by:   Xun.Fu
* @Last Modified time: 2017-09-06 11:29:35
*/
.game {
  font-size: 44px;
  height: 30px;
  background-color: #111;
}

#game {
  font-weight: 600;
  cursor: pointer;
}
